<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../public/img/favicon.png">
    <link rel="stylesheet" href="../public/style/page2.css">
    <title>Quiz 100QUEDA</title>
</head>
<body>
    <header>
        <img id='logo' src="../public/img/logo.png">
        <div id="margem">
            <div id="porcentagem"></div>
        </div>
    </header>
    <main>
        <div id="questionArea">
            <div id="divText">
                <label id="question">Que resultados você espera do seu tramento?</label>
                <a href="https://flashsolutions.online/100queda">Clique aqui para pular o quiz</a>
                <label id="subtext">Escolha quantos quiser</label>
            </div>
            <div id="divOptions">
                <div id="hairLoss" class="choices">
                    <label class="typeResult" id="typeResultHairLoss">Quero previnir a queda de cabelo</label>
                    <div class='checkbox' id="checkboxHairLoss">
                        <div class="transition" id="hairLossCheck"></div>
                    </div>
                </div>
                <div class="choices" id="regrowHair">
                    <label class="typeResult" id="typeResultRegrowHair">Quero que meu cabelo cresca de novo</label>
                    <div class='checkbox' id="checkboxRegrowHair">
                        <div class="transition" id="regrowHairCheck"></div>
                    </div>
                </div>
                <div class="choices" id="thickerHair">
                    <label class="typeResult" id="typeResultThickerHair">Quero engrossar meu cabelo</label>
                    <div class='checkbox' id="checkboxThickerHair">
                        <div class="transition" id="thickerHairCheck"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="divButton">
            <button id="continuarButton">Continuar</button>
        </div>
    </main>
    <footer></footer>
    <script src="../public/js/page2.js"></script>
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1140062830046081');
        fbq('track', 'PageView');
    </script>
</body>
</html>