<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../img/favicon.png">
    <link rel="stylesheet" href="../style/quiz3Page.css">
    <title>Quiz 100QUEDA</title>
</head>
<body>
    <header>
        <img id='logo' src="../img/logo.png">
        <div id="margem">
            <div id="porcentagem"></div>
        </div>
    </header>
    <main>
        <div id="divText">
            <label id="question">Você experiência sintomas de caspa no couro cabeludo? Partes descascadas, coçando, vermelha ou queimando.</label>
            <a href="">Clique aqui para pular o quiz</a>
        </div>
        <div id="divOptions">
            <div id="yes" class="choices">
                <label class="yesOrNo">Sim</label>
            </div>
            <div class="choices" id="no">
                <label class="yesOrNo">Não</label>
            </div>
    </main>
    <footer></footer>
    <script src="../controller/quiz3Page.js"></script>
</body>
</html>