<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../img/favicon.png">
    <link rel="stylesheet" href="../style/quiz1Page.css">
    <title>Quiz 100QUEDA</title>
</head>
<body>
    <header>
        <img id='logo' src="../img/logo.png">
        <div id="margem">
            <div id="porcentagem"></div>
        </div>
    </header>
    <main>
        <div id="divText">
            <label id="question">Onde você está perdendo cabelo ou ele está ralo?</label>
            <a href="">Clique aqui para pular o quiz</a>
            <label id="subtext">Escolha aquele que se aplica melhor ao seu caso</label>
        </div>
        <div id="divOptions">
            <div id="receding" class="choices">
                <label class="typeLossText">Entradas</label>
                <img class='typeLossImg' src="https://www.keeps.com/assets/next/icons/receding.svg">
            </div>
            <div class="choices" id="crown">
                <label class="typeLossText">Topo</label>
                <img class='typeLossImg' src="https://www.keeps.com/assets/next/icons/crown.svg">
            </div>
            <div class="choices" id="overral">
                <label class="typeLossText">Um pouco dos dois</label>
                <img class='typeLossImg' src="https://www.keeps.com/assets/next/icons/overall.svg">
            </div>
            <div class="choices" id="partssm">
                <label class="typeLossText">Desigualmente</label>
                <img class='typeLossImg' src="https://www.keeps.com/assets/next/icons/parts-sm.svg">
            </div>
            <div class="choices" id="nowhere">
                <label class="typeLossText" id="twoLines">Em nenhum lugar ainda, mas quero previnir futuras perdas de cabelo</label>
                <img class='typeLossImg' src="https://www.keeps.com/assets/next/icons/nowhere.svg">
            </div>
        </div>
    </main>
    <footer></footer>
    <script src="../controller/quiz1Page.js"></script>
</body>
</html>